.DS_Store
/.build/
/DerivedData/
/.swiftpm/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
.env
.env.*
!.env.example
*.local
Package.resolved

